.control{
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #13bfbf;
    outline: none;
}
label{
  font-weight: bold;

}
.group{
    margin: 10px 0;
}
.control:focus{
    background-color: aqua;
    box-shadow: 0 0 3px #13bfbf;
    border: 1px solid #13bfbf;
   
}
.hop{
    outline: none;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #13bfbf;
    border: 1px solid #13bfbf;
}
.hop:hover{
    background-color: #13bfbf;
}
.bao{
    margin: auto;
}

.content {
    margin-left: auto;
    margin-right: auto;
}