table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border-color: #46b5d1;
    margin: auto;
}
tr:nth-child(2n+1){
    background-color: lightgray;
}
tr:nth-child(2n){
    background-color: white;
}
th{
    background-color: blue;
    color: white;
    border: 3px solid rgb(121, 121, 221);
}
td{
    height: 30px;
    border: 3px solid rgb(121, 121, 221);
}
