table{
    border-collapse: collapse;
    border-color:greenyellow;
    text-align: center;
    margin: auto;
}
td{
    height: 50px;
}
th{
    background-color: greenyellow;
}
.chien{
    background-color: green;
}
.chien2{
    color: red;
}