.chien ul li{
    display: inline-block;
}
.chien ul{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-shadow:  0 0 5px orange;
    list-style: none;
    background-color: orange;
    height: 40px;
    text-align: center;
}
.chien ul li a{
    line-height: 40px;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color: white;
    
}

.chien ul li a:hover {
    color: yellow;
}

