.cot div{
    text-align: center;
}
.cot{
    float:left;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 0 5px red;
    background-color: yellow;
}
.cot img{
    width: 350px;
    height: 350px;
    margin: 5px;
     border: 2px solid black;
}
.tieu-de{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
.btn button{
    border: none;
    border-radius: 10px;
    background-color: wheat;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 0 0 5px red;
}
button:hover{
    box-shadow: 0 0 5px red;
    background-color: aquamarine;
}