.menu{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px orange;
    list-style: none;
}
.menu li a{
    background: url(../b8/image/gif5.gif) no-repeat left center;
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted orange;
    text-decoration: none;
    font-variant: small-caps;
    color: orange;
    padding: 8px 5px 8px 30px;
}
.menu li a:hover{
    background: url(../b8/image/gif6.gif) no-repeat left center;
    background-color: red;
    color: orange;
    font-weight: bolder;
}